/* .cards {
    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.19rem;
    cursor:pointer;
    min-width:250px;
    height:350px;
    z-index:0;
    border: 1px solid yellow;
}

.cards:hover {
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */

/* .cards__img {
    height: 300px;
    width: 250px;
    object-fit: fill;
} */

.res-card{
    width: 250px;
    border-radius: 2%;
    margin: 1rem;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.res-card:hover {
    transform: scale(1.05);
    /* color: aqua; */
    /* background-color: aquamarine; */
    /* z-index: 1000; */
    /* box-shadow: rgba(225, 214, 214, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}



.res-logo{
    width: 100%;
    /* height: 394px; */
    /* width: 100%; */
    border-radius: 5%;
    /* z-index: 1; */
}

.card-movie-details{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: .5rem 5px;
}

.card-movie-genres{
  padding: 5px;
}

.card-movie-genres {
  font-size: 0.8rem;
  
  padding: 5px;
}

.checklist-icon {
  /* position: absolute;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll; */
  padding: 5px;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1;
  font-size: 1.4rem;
  /* display: flex;
  align-items: flex-end;
  justify-content: flex-end; */
}

.checklist-icon i {
  color: #647eff;
}

.checklist-icon i:hover{
  /* color: rgb(30, 34, 105); */
  /* color:  #303640; */
  
}

/* Responsive styles */

/* For very large screens */

/* For desktops and larger devices */
@media (max-width: 992px) {
  .res-card {
    max-width: 220px;
  }
}

/* For tablets and larger devices */
@media (max-width: 500px) {
    .res-card {
      max-width: 180px;
    }

    .card__rating{
      font-size: 12px;
    }

    .movie-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      /* padding: 5px; */
      font-size: 17px;
    }

    .card-movie-details p{
      font-size: .7rem;
    }

    .card-movie-genres {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: .7rem;
      padding: 5px;
    }
  }
  
  
  /* Adjust text overflow styles */
  .movie-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
  }
  