.movie-cards {
    width: 95%;
}

.main{
  width: 100%;
  position: relative;
}

.type-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-inline-start: 7.2rem;
  margin-block-start: 2rem;
  /* background: #42d392; */
  background: linear-gradient(180deg, #42d392, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.movie-slider {
  width: 86%;
  margin: 0 auto;
}

.movie-list {
  display: flex;
  flex-direction: column;
}

.list-title {
  font-size: 1.75rem;
  margin: 1.5rem;
  text-align: center;
  background: #42d392;
  background: linear-gradient(180deg, #42d392, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1180px) {

  .type-title{
    margin-inline-start: 5rem;
  }
}

@media (max-width: 767px) {

  .type-title{
    margin-inline-start: 4rem;
  }
}

@media (max-width: 480px) {

  .type-title{
    margin-inline-start: 2.5rem;
    font-size: 1.5rem;
  }
}