.castImage {
  /* display: inline-block; */
  text-align: center;
  /* border: 1px solid yellow; */
}

/* .castImage{
    height: 400px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
} */

.castImage > img {
  margin: auto;
  /* display: block; */
  padding: 10px;
  border-radius: 15px;
  /* object-fit: contain; */
  /* width: 30%; */
  /* margin: auto;*/
  width: 100%;
  height: 100%;
}

.castImage:hover {
  transform: scale(1.1);
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}
